header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 24px;
    height: 32px;

}

.bluebox {
    height: 64px;
    width: 16px;
    background-color: aquamarine;
}


.links {
    display: inline-flex;
    flex-wrap: no-wrap;
    align-items: center;
    margin-right: 24px;
}

