body {
    padding-top: 0;
    margin: 0 24px 0;
    border: 1px solid grey;
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 65, 65);
    font-size: 16px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 64px;
}

header span {
    font-weight: 200;
}

h2 {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 24px;
    height: 32px;

}

.bluebox {
    height: 64px;
    width: 16px;
    background-color: rgb(127, 187, 255);
}


.links {
    display: inline-flex;
    flex-wrap: no-wrap;
    align-items: center;
    margin-right: 24px;
}

.learn {
    background-color: lightgray;
    display: flex;
    
}

.reading-img {
    width: 60%;
    height: auto;
    margin: 32px 24px;
    float: left;
}

 .learningcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 24px;
    padding-bottom: 5px;
}

.learningcontainer h1 {
    font-size: 3.5rem;
    font-weight: extrabold 700;
    width: 75%;
}

.learningcontainer h4 {
    font-weight: 500;
    font-size: 2.25rem;
    width: 75%;
    margin-top: 0;
}


.start {
    padding: 8px 0;
    background-color: rgb(65, 65, 65);
    text-align: center;
    color: white;
    width: 80%;
    font-size: 1.5rem;
    text-decoration: none;
    
}

.practice {
    display: flex;
}

.sweater{
    margin: 32px 0;
}

.practicing {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 24px;
}

.practicing span,
.start-learning h2,
.thesis-exhibit h1 {
    font-weight: 800;
    font-size: 3rem;
}

.quote,
.video-container p {
    font-size: 1.5rem;
    color: grey;
}

.quoter {
    font-weight: 300;
}

.aboutus {
    border-left: 1px solid lightgray;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.aboutus a {
    color: rgb(0, 60, 255);
}

.orientation,
.campus,
.lecture {
    display: flex;
}

h5 {
    font-size: larger;
    margin-bottom: 0;
    font-size: 1.5rem;
}
 .orientation {
     border-bottom: 4px double lightgray;
 }

 .lecture {
     background-color: lightgray;
     margin-bottom: 32px;
 }

.orientation img{
    width: 35%;
    height: auto;
    margin: 32px 16px 16px;
}

.campus img,
.lecture img {
    width: 35%;
    height: auto;
    margin: 16px;
}


.aboutustext {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.start-learning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    padding-bottom: 16px;
}

.start-learning h2 {
    margin-top: 32px;
    text-align: center;
}

.courses-container {
    margin: 0 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    margin: 16px;
    padding-bottom: 24px;
    max-width: 500px;

}

.course img {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
}

.course h4 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 8px 0 8px 16px;
}

.course p {
    margin: 8px 0 8px 16px;
    color: grey;
    font-weight: 400;
}

.thesis-exhibit {
    display: flex;
    flex-direction: column;
}
.thesis-exhibit h1 {
    text-align: center;
    margin: 32px 0;
}
 .thesis-containers {
     display: flex;
     flex-direction: row;
 }
.video-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 24px 32px;
}

.video-container h3 {
    margin: 24px 0 8px;
}

.fisma-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.fisma-container img {
    max-width: 35%;
    height: auto;
    margin: 16px;
}

.fisma-text p {
    color: grey;
    font-size: 1.25rem;
}

.video-container h3 {
    font-size: 2.5rem;
}

.fisma-container .fisma-text {
    max-width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fisma-top,
.now-and-then {
    display: flex;
}

.fisma-top {
    background-color: lightgrey;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 32px 24px;
    border-top: 1px solid lightgrey
    
}

.terms-privacy {
    display: flex;
    margin-right: 10px;
}
.terms-privacy p {
    padding: 5px;
}
/*mobile styling*/

@media only screen and (min-width: 720px) {
    .header-icons {
        display: none
    }
    .orientation .mobile,
    .lecture .mobile,
    .campus .mobile {
        display: none;
    }
    .courses-mobile {
        display: none;
    }
    .video-mobile {
        display: none;
    }


}
@media only screen and (max-width: 720px)  {
    body {
        font-size: 12px;
    }
    .logo,
    .links { 
        display: none;

    }
    .header-icons { 
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
    .learn {
        flex-direction: column;
    }

    .learn img {
        width: 100%;
        margin: 0;
    }

    .learningcontainer{
        margin: 0;
      
    }
    .learningcontainer h1 {
        font-size: 2.5rem;
        margin: 32px 0;
        padding-left: 16px;
    }

    .learningcontainer h4 {
        font-size: 1.5rem;
        padding-left: 16px;
    }

    .start {
        background-color: rgb(141, 140, 140);
        align-self: center;
        width: 90%;
        margin: 24px 0 32px;
    }
    .practicing {
        display: none;
    }
    .aboutus {
        width: 100%;
    }
    .orientation {
        border: none;
    }
    .lecture {
        background-color: white;
    }
    .orientation,
    .lecture,
    .campus {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }
    .orientation .desktop,
    .lecture .desktop,
    .campus .desktop {
        display: none;
    }
    .orientation .mobile,
    .lecture .mobile,
    .campus .mobile {
        width: 100%;
        margin: 0;
        padding-bottom:  16px;
    }
    .orientation {
        padding-top: 16px;
    }
    .lecture,
    .campus {
        padding-top: 64px;
    }
    .lecture {
        padding-bottom: 32px;
        margin: 0;
    }
    .aboutustext {
        padding-left: 16px;
        width: 100%;
    }
    .aboutustext h5 {
        margin-top: 0;
        font-size: 2rem;
    }
    .aboutustext p {
        font-size: 1.15rem;
        width: 100%;
        margin: 0:
    }
    .aboutustext a {
        font-size: 1rem;
    }
    .courses-container {
        display: none;
    }
    .start-learning {
        background-color: white;
        padding: 0 16px;
    }
    .courses-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .courses-mobile div {
        background-color: lightgrey;
        padding: 16px 0 24px 16px;
        margin: 4px 0;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .thesis-containers {
        display: none;
    }
    .thesis-exhibit h1 {
        border-top: 1px solid lightgrey;
        padding: 32px 0 16px;
    }
    .terms-privacy {
        display: none;
    }
    .video-mobile {
        margin-bottom: 24px;
    }
    .copyright {
        font-size: 1rem;
    }
    footer {
        border: none;

}